<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.uploadMapper">
	<select id="getMaxId" resultType="Integer">
		select max(writing_id) from
		image_writing
	</select>
	<insert id="putImageWriting" parameterType="model.Writing">
		insert into
		image_writing values(#{writing_id},#{group_id},#{order_no},
		#{parent_id},#{register_date},#{writer_name},#{email},
		#{image_name},#{password},#{title},#{content})
	</insert>
	<select id="getImageList" parameterType="model.Condition"
		resultType="model.Writing">
		select writing_id, parent_id, group_id, order_no,
		writer_name, email, password, image_name, title, register_date,
		content from
		(select a.*, rownum rn from
		(select * from image_writing
		order by group_id desc, order_no asc) a)
		where rn between #{startRow}
		and #{endRow}
	</select>
	<select id="getTotalCnt" resultType="Integer">
		select count(*) from
		image_writing
	</select>
	<select id="getImage" parameterType="Integer"
		resultType="model.Writing">
		select * from image_writing where writing_id = #{id}
	</select>
</mapper>